@using System.Globalization
@using TestTask.Services.Models
@model IssuePageModel
@{
    int week = Model.Week;
    const int countWeekOfYear = 52;
    int defaultYear = DateTime.Now.Year;
    int year = Model.Year;
    const int numberOfPagesInPagination = 3;
    string url;
    string today = DateTime.Now.ToString("dd/MMM", CultureInfo.GetCultureInfo("en-US"));
}

<link rel="stylesheet" href="~/css/JiraTable.css" />

<header>
    <div class="menu">
        <a href="@Url.Action("Index", "Home")">Home</a> 
        <div>&#10148; </div>
        <a href="@Url.Action("Index", "Users")">Users </a>
        <div>&#10148; </div>
        <h7>Issues</h7>
        @if (User.IsInRole("Admin"))
        {
            <div>&#10148; </div>
            <a href="@Url.Action("Index", "Countries")">Countries </a>
            <div>&#10148; </div>
            <a href="@Url.Action("Index", "Cities")">Cities </a>   
        }
    </div>
    <div class="login">
        <div>
            <b>@User.Identity?.Name</b>
        </div>
        <div class="login-button">
            <a href="/Account/Logout">@if (User.Identity?.Name == null)
                                      {
                                          <i>login</i>
                                      }
                                      else
                                      {
                                          <i>logout</i>
                                      }
                </a>
        </div>
    </div>
</header>

<div class="jira-modul" style="left: 3.34119%; top: 70px; width: 46.0517%;">
    <div class="dashboard-item-header"><h3 id="gadget-11790-title" class="dashboard-item-title">Time Sheet</h3></div>
    <div id="jira-container" class="jira-contaner">
        <jira-table>
        </jira-table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>

    let model = @Html.Raw(Json.Serialize(@Model));
    let date = model.dateForPage;
    let today = @Html.Raw(Json.Serialize(today));
var totalRow = Vue.component('jira-totalRow',{
    data(){
        return{
            issues: model.issueModels,
            timeLogs: model.timeLogModels,
            items: date,
            todayDate: today,
        }
    },
    computed:{
        count: function(){
            return this.issues.length;
        },
        sumHoure: function(){
            let result = [];
            for(let i = 0; i< this.items.length; i++){
                result.push(this.timeLogs.filter(n => this.items[i].date == n.dateLogParse).reduce((partialSum,a)=>partialSum + a.time.hours,0))
            }
            return result;
        },
        totHoure: function(){
            return this.sumHoure.reduce((partialSum,a)=>partialSum+a,0);
        }
    },
    template: `<tr class="rowFooter border">
        <td colspan=""> Total ({{count}} issue): </td>
        <td style="" nowrap="" :class="['nav', 'border',[{'nonWorkedDay': i==6||i==7},{'today': items[i-1].date==todayDate}]]" title="" v-for="i in 7"><b>{{sumHoure[i-1]}}</b></td>
        <td nowrap="" class="border" title=" "><b>{{totHoure}}</b></td>
    </tr>`
})

var tbody = Vue.component('jira-tbody',{
    data() 
    {
        return{
            items:date,
            issues: model.issueModels,
            timeLogs: model.timeLogModels,
            todayDate: today,
        }         
    },
    computed:{
        LogedIssues: function(){
            return this.issues.filter(x=> this.timeLogs.filter(n => n.issueId == x.issueId).length > 0)
        }
    },
    methods:{
        GetLogsTime(issueId,item){
            return this.timeLogs.filter(n=>n.dateLogParse == item.date && n.issueId == issueId)
            .reduce((partialSum,a)=>partialSum + a.time.hours,0);
        },
        sumOfTime(issueId){
            return this.timeLogs.filter(n=>n.issueId == issueId).reduce((partialSum,a)=>partialSum + a.time.hours,0);
        },
    },
    template:`        
    <tbody>
        <tr class="rowNormal border border-bottom" v-for="issue in LogedIssues">
            <td class="nav" id="1">
                <a href="">{{issue.name}} text text text text text </a> 
            </td> 
            <td :class="['nav', 'border',[{'nonWorkedDay': i==6||i==7},{'today': items[i-1].date==todayDate}]]" id="1" v-for="i in 7">
                {{GetLogsTime(issue.issueId,items[i-1])}}
            </td>
            <td class="nav"><b>{{sumOfTime(issue.issueId)}}</b></td>
        </tr>
        <jira-totalRow></jira-totalRow>
    </tbody>`,
})

var thead = Vue.component('jira-thead',{
    data() 
    {
        return{
            items: date,
            todayDate: today,
        }
    },
    computed:{
        daysOfWeek:function(){
            var newItems = [] 
            this.items.forEach(element => {
                newItems.push({day:element.day.substring(0,3),date: (element.date.split('.').splice(0,2)).join('.')});
            }); 
            return newItems;
        }
    },
    template: `        
    <thead>
        <tr class="border-bottom border-top">
        <th class="border">
        <a id="" class="">Summary for userName</a>
        <br>
        <div id="slider-wrapper">
        <div id="slider-prev"><<</div>
        <div id="slider-today"><span id="week">123</span><span id="month">123</span></div>
        <div id="slider-next">>></div>
        </div>
        </th>
        <th :class="[{'nonWorkedDay': i==6||i==7},{'today': items[i-1].date==todayDate}]" v-for="i of 7">
        <a id="" class="nav">{{items[i-1].dayOfWeek}}<br>{{items[i-1].date}}</a>
        </th>
        <th>Tot</th>
        </tr>
    </thead>`
})

var jiraTable = Vue.component('jira-table',{
    template: `
        <table id="issuetable" class="table" style="text-align: center;" border=" 0" cellpadding="3" cellspacing="0" width="100%">
        <jira-thead></jira-thead>
        <jira-tbody></jira-tbody>
        </table>`,
})

var table = new Vue({
    el:'.jira-contaner',
})
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/table.js"></script>