@using TestTask.Services.Models
@model IssuePageModel
@{
    int week = Model.Week;
    const int countWeekOfYear = 52;
    int defaultYear = DateTime.Now.Year;
    int year = Model.Year;
    const int numberOfPagesInPagination = 3;
    string url;
}

<link rel="stylesheet" href="~/css/table.css">
<header>
    <div class="menu">
        <a href="@Url.Action("Index", "Home")">Home</a> 
        <div>&#10148; </div>
        <a href="@Url.Action("Index", "Users")">Users </a>
        <div>&#10148; </div>
        <h7>Issues</h7>
        @if (User.IsInRole("Admin"))
        {
            <div>&#10148; </div>
            <a href="@Url.Action("Index", "Countries")">Countries </a>
            <div>&#10148; </div>
            <a href="@Url.Action("Index", "Cities")">Cities </a>   
        }
    </div>
    <div class="login">
        <div>
            <b>@User.Identity?.Name</b>
        </div>
        <div class="login-button">
            <a href="/Account/Logout">@if (User.Identity?.Name == null)
                                      {
                                          <i>login</i>
                                      }
                                      else
                                      {
                                          <i>logout</i>
                                      }
                </a>
        </div>
    </div>
</header>

<div class="row">
    <b>Issues</b>
    @if(User.IsInRole("Admin")){
        <a href="~/Issues/Create"><button>Create</button></a>
    }
</div>
<div style="min-height: 150px;">
    <table class="table" style="text-align: center;">
        <thead>
        <tr>     
            <th>
                <a id="" class="">Issue name</a>
            </th>
                @foreach (var item in @Model.DateForPage)
                {
                    <th>
                        <a id="" class="">@item.ToString("dd.MM.yyy")<p>@item.DayOfWeek</a>
                    </th>
                }
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.IssueModels)
            {
                var groupTimeLogs = Model.TimeLogModels.Where(x=>x.IssueId==item.IssueId);
                <tr class="">
                    <td class="cell_1" id="1">
                        <a href="@Url.Action("Details",new {issueId = item.IssueId})">@item.Name</a> 
                    </td> 
                    @foreach (var day in Model.DateForPage)
                    {
                        <td class="cell_1" id="1">
                            @{
                                var totalTime = new TimeSpan(groupTimeLogs.Where(x => x.DateLog == day).Sum(r => r.Time.Ticks));
                            }
                            @totalTime.ToString("h'h 'm'm'")
                        </td>   
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="paging">
        <a style="margin-top:1%;" href="/Issues/Index"><button>Reset</button></a>
        <div class="pages">
            @if (week > 1)
            {
                url = $"/Issues/Index?week={week - 1}&year={year}";
                
            }else{
                url = $"/Issues/Index?week={countWeekOfYear}&year={year - 1}";
            }
            <a href='@url'>&lt;</a>
            @{
                int changeableCurrentPage = week;
                int counter = 0;
                if (week > 1 && week < countWeekOfYear)
                {
                    week--;
                }
                else if (week == countWeekOfYear && week > 1)
                {
                    week -= 2;
                }
                @for (int i = week; i <= countWeekOfYear && counter < numberOfPagesInPagination; i++,counter++)
                {
                    if (i > 0)
                    {
                        <div>|</div>
                        url = $"/Issues/Index?week={i}&year={year}";
                        <a href='@url'>
                            @if (i == changeableCurrentPage)
                            {
                                <b>@i</b>
                            }
                            else
                            {
                                @i
                            }
                        </a>
                    }

                }
            }
            |
            @if (changeableCurrentPage < countWeekOfYear)
            {
                url = $"/Issues/Index?week={changeableCurrentPage+1}&year={year}";
                
            }else{
                url = $"/Issues/Index?week={1}&year={year + 1}";
            }
            <a href='@url'>&gt;</a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/table.js"></script>
<script>
    let model = @Html.Raw(Json.Serialize(@Model));
</script>