@using TestTask.Services.Models
@model CountryModel

<link rel="stylesheet" href="~/css/form.css">

<form method="post" action="~/Countries/Edit">
    <div class="column">
        @Html.Hidden("CountryId",Model.CountryId,new {id = Model.CountryId, Name= Model.CountryId})
    <div>
        <div class="form-element form-lable">@Html.LabelFor(m=>m.Name)</div>
        <div class="form-element form-input">@Html.TextBoxFor(m=>m.Name)</div>
        <div class="form-element form-error">@Html.ValidationMessageFor(m=>m.Name)</div>
    </div>
    <div>
        <div class="form-element form-lable">@Html.LabelFor(m=>m.Description)</div>
        <div class="form-element form-input">@Html.TextBoxFor(m=>m.Description)</div>
        <div class="form-element form-error">@Html.ValidationMessageFor(m=>m.Description)</div>
    </div>
    <div><button type="submit">Save</button></div>
    </div>
</form>