@using Task.Services.Models
@model List<UserModel>

@{
    int pcount = (int)ViewData["pcount"];
    int currentpage = (int)ViewData["page"];
    string search = (string)ViewData["search"];
    string url;
}


<link rel="stylesheet" href="~/css/User.css">
<link rel="stylesheet" href="~/css/popup.css">

<header>
    <a href="@Url.Action("index","Home")">Home</a> &#10148; <h7>Users</h7>
</header>
<div class="row">
    <a href="@Url.Action("Create","Users")"><button>Create</button></a>
    <input id="search" class="search" placeholder="&#128269; search" type="text" />
</div>
<div style="min-height: 150px;">
    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Title
                </th>
                <th>
                    Country
                </th>
                <th>
                    City
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Email
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="" id="@i">
                    <td class="cell_@i open-popup" id="@i">
                        <div>@Model[i].Firstname @Model[i].Lastname</div>
                    </td>
                    <td class="cell_@i open-popup" id="@i"> 
                        @Model[i].Title.Name
                    </td>
                    <td class="cell_@i open-popup" id="@i">
                        @Model[i].City.Country.Name
                    </td>
                    <td class="cell_@i open-popup" id="@i"> 
                        @Model[i].City.Name
                    </td>
                    <td class="cell_@i open-popup" id="@i">
                        @Model[i].Phone
                    </td>
                    <td class="cell_@i open-popup" id="@i">
                        @Model[i].Email
                    </td>
                    <td class="cell_@i">
                         <a href="@Url.Action("Edit","Users",new {id = Model[i].UserId})">
                             Edit
                         </a>
                         <a href="@Url.Action("Delete","Users",new {id = Model[i].UserId,page = currentpage})" onclick="return confirm('Are you sure?')">
                             Delete
                         </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="paging">
        <div class="pages">
        @{url=search==null?Url.Action("Index",new {page=currentpage-1}):Url.Action("Search",new {page=currentpage-1,search=search});}
        <a href="@url">&lt;</a>
            @{
                int cp = currentpage;
                int k = 0;
                if (currentpage > 1 && currentpage < pcount)
                {
                    currentpage--;
                }
                else if (currentpage == pcount&&currentpage>1)
                {
                    currentpage -= 2;
                }
            @for(int i = currentpage; i<=pcount&&k<3;i++,k++)
            {
                if (i > 0)
                {
                        <div>|</div>
                        url = search == null ? Url.Action("Index", new { page = i }) : Url.Action("Search", new { page = i, search = search });
                        <a href="@url)">
                        @if(i==cp){
                            <b>@i</b>
                        }else
                            @i
                    </a>
                }

            } 
            }        
            |@{url=search==null?Url.Action("Index",new {page=cp+1}):Url.Action("Search",new {page=cp+1,search=search});}<a href="@url">&gt;</a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="popup-bg">
    <div class="popup">
        <div class="popup-head">
            <div>User Comments</div>
            <a class="close-popup" href="">&#10006;</a>
        </div>
        <div class="popup-body">
        </div>
    </div>
</div>

<script src="~/js/users.js"></script>
<script>
    let searchUrl = "@Html.Raw(Url.Action("Search",new {page=1,search="__s__"}))";
    let model = @Html.Raw(Json.Serialize(Model));
</script>